
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<header>
</header>
<body>
    <main>
        <div class="LoginPage">
        <div>
            <label id="Email">Email</label>
            <lable id="EmailError"></lable>
            <input type="text" id="userId" />
        </div>
        <div>
            <label id="Password">Password</label>
            <lable id="PasswordError"></lable>
            <input type="password" id="password"/>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        </div>
    </main>
</body>
<footer>
</footer>
</html>